#div1{
    width: 400px;
    height: auto;
    margin: 4%;
   
}
#line{
    width: 400px;
    border: 1px solid rgb(173, 169, 161);
    margin-bottom: 5px;
}
#addbtn{
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
}
#task{
    width: 300px;
    height: 30px;
    border-radius: 10px;
}
button{
    font-size: large;
    background-color: white;
    text-align: justify;
    border: none;

}
ul{
    list-style-type: number;
    margin-left: 0%;
    font-size: larger;
    
}
li{
    margin-top: 10px;
    word-spacing: 5px;
    
}

#delete{
 color: rgb(223, 31, 31);

}
#edit{
    color: rgb(69, 69, 196);
    
}